<!-- Current user (right part of the website) -->
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<label style="font-family:verdana; color:white;"> @HttpContextAccessor.HttpContext.Session.GetString("FullName")</label>
<ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
    <li class="nav-item dropdown">
        <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">


            <div class="media align-items-center">


                <span class="avatar avatar-sm rounded-circle">

                    <img alt="Image placeholder" src="~/img/theme/team-4.jpg">
                </span>
                <div class="media-body  ml-2  d-none d-lg-block">
                    <span class="mb-0 text-sm  font-weight-bold">

                    </span>
                </div>
            </div>
        </a>
        <partial name="Topnav/_Dropdown" />
    </li>
</ul>
