@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<div class="dropdown-menu dropdown-menu-right">
    <div class="dropdown-header noti-title">
        <h6 class="text-overflow m-0">Welcome!</h6>
    </div>

    <a href="@Url.Action("Profile", "Employee")" class="dropdown-item">
        <i class="ni ni-single-02"></i>
        <span>My profile</span>
    </a>
    @*<div class="px-3 py-3">
        <h6 class="text-sm text-muted m-0">You have <strong class="text-primary">@HttpContextAccessor.HttpContext.Session.GetInt32("Jumlah") </strong> notifications.</h6>
    </div>*@
    <div class="dropdown-divider"></div>
    <form id="formlogout" class="form-inline" asp-action="Logout" asp-controller="Account">
        <button type="submit" id="logout" class="dropdown-item logout">
            <i class="ni ni-user-run"></i>
            <span class="logout">Logout</span>
        </button>
    </form>

</div>