@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Register";
}

<!-- Register -->
<div class="container">
    <div class="col-lg-6 m-5">
        <div class=" card" style="margin-left:250px; width:550px">
            <div class="card-body m-2">
                <div class="p-3">
                    <h4 class="text-muted font-18 m-b-2 text-center">Register</h4>
                    <span style="text-align: center;" class="fa fa-pencil" aria-hidden="true"></span>
                    <form id="RegisterForm">

                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">Name :</label>
                                    <input type="text" class="form-control" name="Name" id="Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">Email :</label>
                                    <input type="email" class="form-control" name="Email" id="Email">
                                </div>
                            </div>
                        </div>
                        
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $("#RegisterForm").submit(function (e) {
            e.preventDefault();
            var form = $(this)
            $.ajax({
                type: "POST",
                url: "/Account/Register",
                data: form.serialize(),
                success: function (data) {
                    console.log(data);
                    if (data.status == '200') {
                        alert("Email Has Been Sent To Your Email, Please Check your Email");
                        window.location.href = "@Url.Action("Index", "Account")";
                    } else {
                        alert("Opps... Your work cannot be saved!");

                    }
                },
            });
        })

        $('#Email').change(function () {
            debugger;
         var email = this.value;
         $.ajax({
         type: "POST",
            url: "/Account/ValidEmail/",
             data: { 'Email': email },
             "beforeSend": function (xhr) {
                 xhr.setRequestHeader('Authorization', sessionStorage.token);
             },
             success: function (result) {
                 if (result.status == '200') {
                        $('#ValidationEmail').show();
                        $('#Email').focus(
                            function () {
                                $(this).val('');
                                $('#ValidationEmail').hide();
                            });
                    } else {
                        $('#ValidationEmail').hide();
                    }
                }

         });
             });








    </script>
}

