
@{
    Layout = "_LoginLayout";
    ViewBag.Title = "Oops!";
}

<div class="container text-center">
    <div style="margin-top: 100px;color:ghostwhite;" class="mx-auto ">
        <p style="font-weight: bold; font-size: 50px;">You and Your Data Got Lost</p>
        <img style="height: 300px; width: 700px;" src="~/img/undraw_By_the_road_re_vvs7.svg" alt="Not Found" />
    </div>
</div>

@section scripts {}

