@{
    ViewData["Title"] = "Welcome";
    <partial name="_Sidenav" />
  //   Layout = "~/Views/Shared/Topnav/_CurrentUser.cshtml";
}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="header bg-primary pb-6">
                <div class="container-fluid">
                    <div class="header-body">
                        <!-- 1st Row: Crumbs and filters -->
                        <div class="row align-items-center py-4" id="A">
                       
                            <h1 class="header text-white">Super Market</h1>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-12" style="width:50px;">
        <div class="card">
            <div id="DonutChart"></div>
        </div>
    </div>
</div>
